* {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

h1 {
	color: #ed458b;
	padding: 15px; 
}

span {
	color: #e6e7e8;
	font-weight: 100;
}

.header {
	background-color: #404041;
}

.guess-input {
	font-size: 20px;
	font-weight: 100;
	height: 20px;
	width: 250px;
	margin-bottom: 20px;
	text-align: left;
}
.guess-input::placeholder {
    color: #d0d2d3;
}

.guess-button, .clear-button {
	font-size: 18px;
	font-weight: 100;
	margin-bottom: 30px;
	width: 125px;
}

button {
  	background-color: #929497;
  	border-radius: 100px;
  	border-width: 0px;
  	color: #fff;
}

button:hover {
	background-color: #eb008b;
	cursor: pointer;
}

button:disabled {
	background-color: #d0d2d3;
}

button:focus {
	outline: none;
}

.submit {
	display: inline-block;
	width: 100px;
}

.number {
	color: #eb008b;
	font-size: 180px;
	font-weight: 100;
	margin: -50px;
}

section {
	margin-top: 15px;
}

.reset-button {
    font-weight: 100;
    font-size: 15px;
    margin-top: 25px;
	width: 250px;
}